@* *********************************************************************************** *@
@model IEnumerable<WebApplication2022_Core6_6th_RelationalDB.Models2.UserTable2>
@* 本範例在控制器中，Details動作 是把資料填入 List 裡面（List<UserTable2>）  *@
@* *********************************************************************************** *@

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details - 列出單一記錄的明細 (ADO.NET)</title>
</head>
<body>
    <div>
        <h4>UserTable2 (ADO.NET) - 把資料填入 List 裡面（List<UserTable2>）</h4>
        Details - 列出單一記錄的明細。請自行輸入網址 網址 http://xxxxxxxx/UserDB2/Details?ID=1

        <hr />
        <table class="table" border="1">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserSex)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserBirthDay)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserMobilePhone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserApproved)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserSex)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserBirthDay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserMobilePhone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserApproved)
                    </td>
                    <td>
                        @Html.ActionLink("Edit（編輯）", "Edit", new { _ID = item.UserId }) |
                        @Html.ActionLink("Details（明細1）", "Details", new { _ID = item.UserId }) |
                        @Html.ActionLink("Details2（明細2）", "Details2", new { _ID = item.UserId }) |
                        @Html.ActionLink("Delete（刪除）", "Delete", new { _ID = item.UserId })
                    </td>
                </tr>
            }

        </table>

</body>
</html>
