@model IEnumerable<WebApplication2022_Core6_6th_RelationalDB.Models2.UDViewModel>
<!--                  位於 Models2 目錄下的 UDViewModel.cs檔 （一對多） **************** -->
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexMasterDetails5_GroupBy</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <h3>
        // 上一個範例（IndexMasterDetails5）有個嚴重的錯誤，在檢視畫面上，「科系」會重複出現<br />
        <font color="red">// (1) 改用 位於 Models2 目錄下的 UDViewModel.cs檔 （一對多）<br />
                                       // (2) 改用 .GroupJopin()方法來做</font><br />
    </h3>

    <!-- ***** 以下全部 自己動手寫 *****  -->
    <table class="table" border="1">

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DVM.DepartmentName)
                </td>                                                      <!-- ***重點！ *** -->
                <td>
                    @Html.DisplayFor(modelItem => item.DVM.DepartmentYear)
                    <!-- ***重點！ *** -->
                    <hr />

                    <!-- *** 底下這段，需自己動手寫 ******************************************  -->
                    <!-- *** 請模仿第三個範例（IndexMasterDetails2）來做 *********** (start)  -->
                    <table border="1">
                        @foreach (var x in item.UVM)  //*********************
                        {<!-- *** 重點！！*********** （跟上一個範例不同！）-->
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelx => x.UserId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelx => x.UserName)
                                </td>
                                <td align="center">
                                    <font color="red">
                                        @Html.DisplayFor(modelx => x.DepartmentId)
                                    </font>
                                </td>
                            </tr>
                        }
                    </table>
                    <!-- *** 請模仿第一個範例（IndexMasterDetails）來做 *************** (end)  -->

                </td>
            </tr>
        }

    </table>
</body>
</html>
